<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/styles.css">
      <link rel="icon" href="/img/weather.png">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
       <p>This site was created by Muneeb. It uses data from mapbox.com and darksky.net</p>
       <p>This was my first web application using Node.js</p>
      <img class="portrait" src="/img/1536220885573.jpg" alt="">
    </div>
    {{>footer}}
  </body>
</html>
