<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/styles.css">
      <link rel="icon" href="/img/weather.png">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <img class="portrait" src="/img/819102544021869912.jpg" alt="">
    </div>
    {{>footer}}
  </body>
</html>
